---
# Variable configuration.
- name: "Set variables"
  include_tasks: variables.yml

# Install Mysql
- name: "Choose platform based task "
  include_tasks: "{{ platform }}"
  with_first_found:
    - 'setup-{{ ansible_os_family }}.yml'
    - 'not-supported.yml'
  loop_control:
    loop_var: platform

# Configure MySQL.
- name: "Configure"
  include_tasks: configure.yml

- name: "Run secure installation"
  include_tasks: secure-installation.yml

- name: "Create databases and users"
  include_tasks: databases_and_users.yml
