---
# Variable configuration.
- name: Include OS-specific variables
  include_vars: '{{ platform_vars }}'
  with_first_found:
    - "{{ ansible_os_family }}\
          -{{ ansible_distribution_major_version }}\
          -{{ mysql_daemon }}.yml"
    - '{{ ansible_os_family }}-{{ mysql_daemon }}.yml'
  loop_control:
    loop_var: platform_vars

# Install Mysql
- name: Configure system
  include_tasks: '{{ platform }}'
  with_first_found:
    - 'setup-{{ ansible_os_family }}.yml'
    - 'not-supported.yml'
  loop_control:
    loop_var: platform

# Configure MySQL.
# - name: Configure
#   include_tasks: configure.yml

# - name: Run secure installation
#   include_tasks: secure-installation.yml

# - name: Create databases and users
#   include_tasks: databases_and_users.yml
