---
- name: Add repository and install packages
  block:
    - name: Add repository
      yum_repository:
        name: epel
        description: EPEL YUM repo
        # baseurl: https://download.fedoraproject.org/pub/epel/$releasever/$basearch/
        metalink: https://mirrors.fedoraproject.org/metalink?repo=epel-8&arch=$basearch&infra=$infra&content=$contentdir
        gpgcheck: false

    - name: Add {{ mysql_daemon }} {{ mysql_version }} repository file
      yum_repository:
        name: '{{ mysql_daemon }}'
        description: mysql YUM repo
        baseurl: '{{ mysql_repo }}'
        gpgcakey: '{{ mysql_gpgkey }}'
        gpgcheck: true
      register: task_result
      retries: 3
      delay: 2
      until: task_result is succeeded

    - name: Add gpgkey
      rpm_key:
        state: present
        key: '{{ mysql_gpgkey }}'
      register: task_result
      retries: 3
      delay: 2
      until: task_result is succeeded

    - name: Install requirements
      yum:
        name: '{{ mysql_python_packages }}'
        state: present
        update_cache: true
      register: task_result
      retries: 3
      delay: 2
      until: task_result is succeeded
  become: true
