---
- name: "Add {{ mysql_daemon }} {{ mysql_version }} YUM repository file"
  yum_repository:
    name: '{{ mysql_daemon }}'
    description: mysql YUM repo
    baseurl: '{{ mysql_repo }}'
    gpgcakey: '{{ mysql_gpgkey }}'
    gpgcheck: True

- name: "Add gpgkey"
  rpm_key:
    state: present
    key: '{{ mysql_gpgkey }}'

- name: "Ensure MySQL Python libraries are installed."
  yum:
    name: "{{ mysql_python_packages }}"
    state: present
  when: ansible_host == "localhost"

- name: "Install {{ mysql_daemon }} {{ mysql_version }} packages."
  yum:
    name: "{{ mysql_packages }}"
    state: present
    update_cache: True
