deb [arch=amd64,i386,ppc64el] {{ mysql_repo }}/{{ mysql_version }}/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} main
deb-src {{ mysql_repo }}/{{ mysql_version }}/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} main
